<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>gallery page</title>
</head>
<body>
    <h1>Gallery page</h1>
    <div class="container">
        <img src="picasso_1.jpg" alt="Picasso Painting">
        <img src="picasso_2.jpg" alt="Picasso Painting">
    </div>
    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="works">Works</a></li>
        <li><a href="about">About</a></li>
        <li><a href="gallery">Gallery</a></li>
    </ul>
</body>
</html>