<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Home page</title>
</head>
<body>
    <h1>Picasso - Home Page</h1>
    <h2>Welcome to the Picasso website</h2>
    <p>The best website in all of Barcelona....</p>
    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="works">Works</a></li>
        <li><a href="about">About</a></li>
        <li><a href="gallery">Gallery</a></li>
    </ul>
</body>
</html>