body,
html {
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

h1 {
  font-size: 30px;
  margin: 0;
  padding: 30px, 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h2 {
  font-size: 25px;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p {
  font-size: 20px;
  margin: 0;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
img {
  width: 250px;
  padding: 20px;
}
